# OS / Python
.DS_Store
__pycache__/
*.pyc

# Build/temp
work/
scratch/
**/tmp_flash_attn_build/
*.pickle

# Checkpoints / artifacts / logs
hyena_checkpoints/
*.pt
*.png
*.csv
*.out
*.err

# Other
*.ipynb_checkpoints/


hyena_checkpoints/
*.safetensors

# large/binary artifacts
*.safetensors
hyena_checkpoints/
*.pt
*.pickle
*.out
*.err
work/
**/tmp_flash_attn_build/
Untitled-*
